body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eaf7ff, #f5fbff);
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.header {
  background: linear-gradient(135deg, #0b3c6d, #1f7acf, #00bfff);
  color: white;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
}

.summary,
.pomodoro,
.achievements {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.timer {
  font-size: 40px;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  background: #1f7acf;
  color: white;
  border: none;
  cursor: pointer;
}

.onboarding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #0b3c6d, #00bfff);
  color: white;
  text-align: center;
}

.onboarding-logo {
  width: 120px;
  border-radius: 50%;
}

.start-btn {
  background: white;
  color: #1f7acf;
}

.achievement-card {
  background: gold;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
